@import url(./null.css);
.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
}
.block1 {
  &__right {
    margin-right: 300px;
  }

  &__left {
  }
}
.new {
  background-color: yellow;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  float: right;
}
.bd {
  background-color: yellow;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  float: left;
}
.block2 {
  &__right {
    margin-right: 300px;
  }

  &__left {
    margin: 0px 20px 0px 0px;
  }
}
.block3 {
  &__right {
    margin: 0px 20px 0px 0px;
  }

  &__middle {
    margin: 0px 300px 0px 0px;
  }

  &__left {
    margin: 0px 20px 0px 0px;
  }
}
.block4 {
  margin: 0 500px;
  &__left {
  }

  &__big {
    margin: 0px 20px 0px 0px;
    height: 410px;
  }

  &__right {
  }

  &__top {
    margin: 0px 0px 10px 0px;
  }

  &__bottom {
  }
}

.container {
}
